[Unit]
Description=ugeek smart ups v3
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/sudo /usr/bin/python /usr/local/bin/smartups.py
WorkingDirectory=/usr/local/bin/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=IMS
User=root
Group=root

[Install]
WantedBy=sysinit.target
